<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% layout('layout/boiler') %>
    <h1>welcome to campquest</h1>
    <p class="lead">
        Explore amazing campgrounds, view details, and create your own!
      </p>
<a href ="/campquests" class ="btn btn-primary">view capgrounds</a>   
<a href = "/campquests/new" class = "btn btn-success"> create new </a>   
</body>
</html>